<!DOCTYPE html>
<html>
  <head>
    <title>NewsTwist</title>
  </head>
  <body>
    <h1>NewsTwist</h1>
    <form action="/register" method="post">
      <div>
         <label for="name">Real Name</label>
         <input required type="text" name="name" id="name"/>
      </div>
      <div>
         <label for="email">Email</label>
         <input required type="email" name="email" id="email"/>
      </div>
      <div>
         <label for="password">Password</label>
         <input required type="password" name="password" id="password"/>
      </div>
      <button type="submit">Login</button>
   </form>
  </body>
</html>
